@media (max-width: 767px) {
    /* header */
    .header {
        padding: 1rem;
    }

    .header .logo{
        font-size: 1.3rem;
    }

    .animation{
        left: .5rem;
    }

    .header .navbar{
        position: absolute;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background-color: #25a18e;
        width: 100%;
        top: 0%; right: 0; left: 0;
        z-index: 10000;
        transition: all 0.5s linear;
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    }


    .header .navbar .links {
        position: relative;
        min-height: 100vh;
    }

    .header .navbar .links a{
        display: flex;
        margin:4rem  1rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: .5rem;
        border-radius: 5px;
       border: 1px solid #fff;
       color: #fff;
    }

    #menu{
        display: block;
    }

    #close-menu{
        display: none;
        position: absolute;
        top: 1rem;
       right: 1rem;
       color: #fff;
       font-size: 1.5rem;
       z-index: 100000;
    }

    .header .icons{
        display: flex;
    }

    /* home */

    .home{
        background-size: cover;
    
    }
    

    .home .box {
        width: 95%;
        margin: auto;
    }

    .home .box h1 {
        font-size: 1.3rem;
        padding: 1rem;
        letter-spacing: .1rem;
        position: relative;
        z-index: 2;
    }

    .home .box span {
        width: 320px;
        height: 35px;
        background: #1d1e18;
        display: flex;
        position: absolute;
        top: 12px;
        left: .5rem;
        z-index: -1;
    }


    .home .box p {
        color: #1d1e18;
        font-weight: 700;
    }

    /* sections */

    .section .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    
    /* heading */
    .heading{
        font-size: 1.2rem;
    }

    /* subscribe */

    .subscribe .container-sub form input{
        border: 1px solid #ccc;
        height: 35px;
        width: calc(100% - 33.5%);
        border-radius: 5px 0px 0 5px;
        padding: 0 .5rem;
        overflow: hidden;
    }

    /* icons footer */

    .footer-box .icons {
        margin: 2rem 0;
    }

    .footer-box .icons a {
        font-size: 20px;
        padding: .3rem .6rem;
        margin: 0rem .2rem;
    }

    .copy{
        font-size: .7rem;
    }

    /* login && register */

    form {
        width: 97%;;
    }

    
}