@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
/* scroll */

::-webkit-scrollbar{
    width: .3rem;
}

::-webkit-scrollbar-thumb{
    background: #0e5068;
}

::-webkit-scrollbar-track{
    background: #fff;
}

/* heading */
.heading{
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
    color: #0e5068;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: .3rem;
    border-bottom: 2px solid #227c9d;
    width: max-content;
}

/* btns */

.btn{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #227c9d;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    padding: .4rem 2rem;
}

.btn:hover{
    background-color: #e3a33c;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 12%;
    position: fixed;
    right: 0;left: 0;
    z-index: 1000;
}

/* Change background header */
.scroll-header {
    background-color: #fff;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
  }
  

.header .logo {
    font-size: 1.7rem;
    font-weight: 900;
    color: #227c9d;
    text-transform: uppercase;
    z-index: 10000;
}

.header .logo span {
    color: #0e5068;
}

.animation{
    position: absolute;
    width: 60px;
    height: 40px;
    background: #ffcb77;
    left: 10.4rem;
    border-radius: 3px;
}

.animation:hover{
    width: 16%;
}

.header .navbar{
    z-index: 100000;
}

.header .navbar a{
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #0e5068;
    text-transform: capitalize;
    z-index: 100000;
}

.header .navbar a:hover{
    color: #e3a33c;
    font-weight: 800;
}

.header .icons i{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
    color: #227c9d;
}

.header .icons i:hover{
    color: #e3a33c;
}

.header .icons span {
    font-size: .9rem;
}

#menu{
    display: none;
}

#close-menu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/* home */

.home{
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    background-image: url('../images/home.avif');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 54%;
}

.home .box{
    display: flex;
    min-height: 100vh;
    width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.home .box h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fe6d73;
    margin-bottom: 2rem;
}

.home .box .animation-home{
    position: absolute;
    top: 37.8%;
    width: 155px;
    left: 9.5rem;
    height: 45px;background: #0e5068;
    z-index: -1;
}

.home .box p {
    margin-bottom: .5rem;
    margin-bottom: 1.4rem;
    color: #ccc;
}

/* section */
section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* section */

 .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.section .container .box {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.section .container .box .image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.section .container .contact{
    margin: 1rem;
} 


.section .container .contact h4 {
    text-align: center;
    margin-bottom: 1rem;
}

.section .container .contact .btn{
    padding: .2rem 1rem;
    margin: auto;
}


/* products */

.products .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.products .container .box {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.products .container .box .image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.products .container .box .contact,
.products .container .box .btns {
    margin: .5rem;
}

.products .container .box .contact .name {
    color: #0e5068;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.products .container .box .contact .price{
    color: #1d2d44;
    font-size: .9rem;
    font-weight: 700;
}


.products .container .box .btns button{
    background-color: #ffcb77;
    width: 48%;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.products .container .box .btns .details{
    background: #1d2d44;
}

.products .container .box .btns .details a {
    color: #fff;
}

.products .container .box .btns .details:hover{
    background-color: #0e5068;
}

.products .container .box .btns .add-to-cart:hover {
    background: #e3a33c;
}


.category .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.category .container .box{
    width: 100%;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}


.category .container .box img {
    width: 100%;
    margin: auto;
}

.category .container .box p {
    font-size: .8rem;
    text-align: center;
    margin-top: 1rem;
}

/* subscribe */

.subscribe .container-sub{
    margin: 2rem;
    align-items: center;
}

.subscribe .container-sub form input{
    border: 1px solid #ccc;
    height: 35px;
    width: calc(100% - 50%);
    border-radius: 5px 0px 0 5px;
    padding: 0 1rem;
    overflow: hidden;
}

.subscribe .container-sub form input:focus{
    border: 1px solid #000;
}

.subscribe .container-sub form button{
    width: 100px;
    height: 35px;
    background-color: #ffcb77;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transform: translate(-5%, 0%);
}

.subscribe .container-sub form button:hover{
    background-color: #e3a33c;
}

/* footer */


.footer{
    background: #227c9d;
    padding: 2rem;
    color: #fff;
}

.footer-box{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer-box .icons {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.footer-box .icons a {
    margin-right: 1rem;
    color: #fff;
    font-size: 26px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: .5rem .8rem;
}

.footer-box .icons a:hover{
    color: #e3a33c;
    /* border: 1px solid #e3a33c; */
    background: #fff;
}

.social{
    color: #fff;
}

.footer-box .container{
    gap: 5rem;
}

.footer-box .container .box {
    height: 250px;
}

.footer-box .container .box h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.footer-box .container .box a {
    display: flex;
    text-align: center;
    color: #1d2d44;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    font-weight: 800;
}

.footer-box .container .box a:hover{
    color: #fe6d73;
}

.copy{
    text-align: center;
    padding: .5rem;
    text-align: center;
}

.copy span {
    color: #fe6d73;
}